.navbar{
    background-color: black !important;
    height: 100px;
}
#navbarNav .navbar-nav .nav-link{
    padding: 15px;
    font-size: 17px;
    color: #d6a985;
    top: 0;
    text-transform: uppercase;
}
.navbar-brand{
    position: absolute;
    left: 50%;
    margin-left: -100px;
}
#navbarNav{
    background-color: black;
}

/* FOOTER */
#footer{
    background-color: black;
}
#footer ul li a{
    color: #d6a985 !important;
    text-transform: uppercase;
}
#footer p{
    color: #d6a985 !important;
    text-transform: uppercase;
}   
