h1{
    text-align: center;
    font-size: 45px;
    margin-top: 20px;
}

h2{
    font-size: 35px;
    margin-top: 30px;
}

main header img {
    float: left;
    margin-bottom: 50px;
    margin-right: 20px;
}

article #right{
    float: right;
    margin-bottom: 50px;
    margin-left: 20px;
}
footer{
    clear: both;
}